<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/perfil.css" rel="stylesheet">
    <title>Perfil</title>
</head>
<body class = "maincontainer bg-info">
      <div class = profilecontainer>
        <div class = imgAndMetas>
            <img style="border-radius:40px" src="../static/maria.png" width="200">

            <div class = metascontainer>
                <img src="../static/starforrating.png" width="25">
                <div style="margin-left: 10px;">5.0</div>
            </div>
            <div class="metascontainer">Nome: Maria</div>
            <div class="metascontainer">Faculdade: PUC-RIO</div>
            <div class="metascontainer">Curso: Engenharia de Produção</div>
        </div>
        <div class = buttonholder>
            <a href = 'http://127.0.0.1:8000/minhasturmas'><button style="width: 400px; height:100px; margin-bottom: 50px; color: white;" type="button" class="btn btn-info">Minhas Turmas</button></a>
            <a href = 'http://127.0.0.1:8000/minhaspostagens'><button style="width: 400px; height:100px; color: white;" type="button" class="btn btn-info">Minhas Postagens</button></a>
        </div>



      </div>







      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>